.site-header {
    border-bottom: 2px solid #959595;
}

.main-header {
    border-bottom: 2px solid #959595;
}

.site-nav, .nav-list {
      color: #4f4379;
}

.nav-list a {
      color: #4f4379;
}
.side-bar {
      background-color: #f0f0f0;
}
 
